# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environnements virtuels
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Modèles sauvegardés
outputs/*.pth
outputs/*.pt

# Données (ne pas versionner les données brutes)
data/
*.wav
*.mp4

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
